extends layout

block content
  div(class='ds_header' )
    h1= title
  div(class='ds_body' id='main_app')
    //- hold
    div(class='ds_map_hold')
      div(class='ds_map_focus')
        div(class='ds_box')
      div(class='ds_map' v-bind:style='{ left : -pos.x * 30 + "px" ,top : -pos.y * 30 + "px" }')
        //- hover 获取 鼠标事件
        div(class='ds_hover' v-bind:style='{ width : size.w * 30 + "px" ,height : size.h * 30 + "px" }' @click='on_mouse_down( $event )')
        //- root 渲染 栅格系统
        div(class='ds_root')
          div(class='ds_grid_line' v-bind:style='{width: size.w * 30 + "px"}' v-for='y in size_grid.h')
            div(class='ds_grid' v-for='x in size_grid.w')
              div(class='ds_box') {{x}},{{y}}
        //- data 渲染 地图系统
        div(class='ds_data')
          div(class='ds_case' v-if='m.show' v-bind:class='{ hover : m.focus }' @click='on_click_case( m )' v-bind:style='{ left : m.data.x * 30 + "px" ,top : m.data.y * 30 + "px" ,width : m.data.w * 30 + "px" ,height : m.data.h * 30 + "px" }' v-for='m in case')
            div(class='ds_box' v-bind:style='{ width : (m.data.w * 30 - 1)  + "px" ,height : (m.data.h * 30 - 1) + "px" }') {{m.data.x}},{{m.data.y}}

    //- 侧边栏
    div(class='ds_side')
      div(class='ds_map_form ds_side_panel')
        div(class='ds_form_tit') 关卡属性
        div(class='ds_form_sec') pos
        div(class='ds_form_row')
          label x:
          input(class='ds_input' size='4'  v-model='pos.x')
          label y:
          input(class='ds_input' size='4'  v-model='pos.y')
        div(class='ds_form_row')
          label w:
          input(class='ds_input' size='4'  v-model='size.w')
          label h:
          input(class='ds_input' size='4'  v-model='size.h')
      div(class='ds_case_form ds_side_panel' id='case_mode')
        div(class='ds_form_tit') 盒子属性
        div(class='ds_form_sec') name
        div(class='ds_form_row')
          label(size='4') id:
          input(class='ds_input' size='10' v-model='case_d.name')
        div(class='ds_form_sec') box
        div(class='ds_form_row')
          label x:
          input(class='ds_input' size='4'  v-model='case_d.data.x')
          label y:
          input(class='ds_input' size='4'  v-model='case_d.data.y')
        div(class='ds_form_row')
          label w:
          input(class='ds_input' size='4'  v-model='case_d.data.w')
          label h:
          input(class='ds_input' size='4'  v-model='case_d.data.h')
        div(class='ds_form_sec') sprite
        div(class='ds_form_row')
          label(size='4') img:
          input(class='ds_input' size='10' v-model='case_d.img')
        div(class='ds_form_row')
          a(class='ds_case_del'  href='' @click.prevent='on_click_del()') delete


  script(src='/js/vue.js')
  script(src='/js/main.js')
