body
    margin: 0
    padding: 0
    background: #f7f6f5
    font: 14px Verdana "Lucida Grande", Helvetica, Arial, sans-serif

.ds_header
    margin: 0 auto
    width: 600px
    h1
        font-size: 18px
        
div[v-cloak]
    display: none
        
// frame -----------------------------
.ds_body
    // width: 600px
    // margin: 0 auto
    min-height: 500px
    min-width: 800px
    // background: #fff
    position: relative
        
.ds_main
    // width: 600px
    margin: 0 auto
    min-height: 400px
    background: #fff
    position: absolute
    left: 210px
    right: 210px
    top: 0
    bottom: 0
    overflow: hidden

.ds_side
    position: absolute
    width: 200px
    right: 0px
    min-height: 400px
    
.ds_side_left
    position: absolute
    width: 200px
    left: 0px
    min-height: 400px
    
// map -----------------------------
.ds_map_hold
    width: 30px
    height: 30px
    position: absolute
    top: 50%
    left: 50%
    // margin-top: -15px
    // margin-left: -15px
        
.ds_map_focus
    position: relative
    pointer-events: none
    z-index: 10
    .ds_box
        width: 29px
        height: 29px
        background: rgba(100,0,250, 0.1)
.ds_map
    width: 30px
    height: 30px
    position: absolute
    top:0
    left:0
    transition: top 0.2s , left 0.2s
.ds_root
    -webkit-user-select: none
.ds_grid
    width: 30px
    height: 30px
    text-align: center
    line-height: 30px
    .ds_box
        width: 29px
        height: 29px
        font-size: 10px
        color: rgba(40,20,80,0.1)
        background: rgba(40,20,250,0.05)
        &:hover
            background: rgba(40,20,250,0.3)
    
.ds_grid_line
    // width: 1000px
    display: flex

.ds_hover
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 4
    // background: rgba(20,200,20,0.2)

.ds_data_ranbow
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2
    background: rgba(255,255,255,0)

.ds_data_hero
    z-index: 10
    pointer-events: none
.ds_data
    position: absolute
    top: 0
    left: 0
    -webkit-user-select: none
    &.hide
        pointer-events: none
        opacity: 0.5
    &.cur
        z-index: 5
    .ds_box
        pointer-events: none
        width: 29px
        height: 29px
        font-size: 10px
        color: rgba(40,20,80,0.8)
        background: rgba(240,100,100,0.9)
        opacity : 0.6
    .ds_case
        width: 30px
        height: 30px
        text-align: center
        line-height: 30px
        position: absolute
        &:hover
            .ds_box
                opacity : 0.8
        &.hover
            .ds_box
                opacity : 1
        &[type='stone']
            .ds_box
                background: rgba(131,93,98,0.9)
        &[type='round']
            .ds_box
                background: rgba(13,14,36,0.9)
        &[type='door']
            .ds_box
                background: rgba(16,73,130,0.5)

// side -----------------------------
.ds_side_panel
    background: #fff
    margin-bottom: 10px
    padding: 10px
    &.fold
        .ds_form_fold
            &:after
                display: block
            
        .ds_form_con
            display: none

.ds_form_tit
    font-size: 14px
    position: relative
    -webkit-user-select: none
    .ds_form_fold
        display: inline-block
        width: 20px
        height: 20px
        // background: #ddd
        position: absolute
        right: 0px
        top: 0px
        &:hover
            background: #f7f6f5
        &:before
            content: ''
            position: absolute
            width: 12px
            height: 2px
            background: #aaa
            top: 9px
            left: 4px
        &:after
            content: ''
            display: none
            position: absolute
            width: 2px
            height: 12px
            background: #aaa
            top: 4px
            left: 9px

.ds_form_con
    padding:10px 0 0px 0
    
.ds_form_sec
    line-height: 15px
    height: 15px
    background: #f7f6f5
    font-size: 12px
    padding: 4px
    margin-bottom: 5px
    color: #666
    position: relative
    
.ds_form_sec_op
    position: absolute
    top: 2px
    right: 4px
    
.ds_form_area
    padding-left: 5px
    .ds_textarea
        margin: 0
        -webkit-appearance: none
        line-height: 16px
        font-size: 12px
        border: 1px solid #eea
        padding: 3px 3px
        outline: none
        background: #ffffdd
        border-radius: 2px
        &[size='10']
            width: 170px

.ds_form_action
    position: relative
.ds_action_float
    position: absolute
    width: 220px
    min-height: 100px
    background: #fff
    top: -30px 
    right: 200px
    border:1px solid #f7f6f5
    border-radius: 4px
    box-shadow: 0 10px 20px rgba(0,0,0,.15)
    padding: 5px
    // padding-top: 30px
    z-index: 20
    .ds_textarea
        min-height: 120px
        width: 200px

.ds_form_close
    position: absolute
    top: 2px
    right: 0px
    width: 20px
    height: 20px
    &:hover
        background: #f7f6f5
    span
        display: block
        width: 20px
        height: 20px
        position: relative
        -webkit-transform: rotate(45deg)
        &:before
            content: ''
            position: absolute
            width: 12px
            height: 2px
            background: #aaa
            top: 9px
            left: 4px
        &:after
            content: ''
            position: absolute
            width: 2px
            height: 12px
            background: #aaa
            top: 4px
            left: 9px

.ds_form_error
    font-size: 10px
    color: #a66
    background: #fee
    line-height: 20px

.ds_action_list
    padding-bottom: 10px
    .ds_action_item
        font-size: 10px
        line-height: 20px
        height: 20px
        padding: 0 5px
        cursor: default
        border: 1px solid #fff
        position: relative
        -webkit-user-select: none
        &:hover
            background: #f7f6f5
        &.cur
            border: 1px solid #eea
            background: #ffffdd
        .del
            display: inline-block
            width: 15px
            height: 15px
            position: absolute
            top: 3px
            right: 5px
            background:#ddd
            line-height: 15px
            text-align: center

.ds_action_add
    font-size: 10px
    text-align: center
    line-height: 20px
    &:hover
        background: #f7f6f5
        cursor: pointer

.ds_form_row
    line-height: 30px
    height: 30px
    font-size: 12px
    color: #666
    margin-bottom: 5px
    padding-left: 5px
    &:last-child
        margin-bottom: 0px
        
    label
        display: inline-block
        width: 20px
        &[size='4']
            width: 40px
    .ds_select
        -webkit-appearance: none
        line-height: 16px
        font-size: 12px
        border: 1px solid #eea
        padding: 3px 3px
        outline: none
        background: #ffffdd
        border-radius: 2px
        width: 82px
        
    .ds_input
        -webkit-appearance: none
        line-height: 16px
        font-size: 12px
        border: 1px solid #eea
        padding: 3px 3px
        outline: none
        background: #ffffdd
        border-radius: 2px
        &[size='4']
            width: 30px
            margin-right: 5px
        &[size='10']
            width: 74px
.ds_layer
    font-size: 12px
    padding: 5px 0 10px
    .ds_layer_line
        line-height: 20px
        text-align: right
        padding-right: 5px
        border: 1px solid #fff
        cursor: default
        &:hover
            background: #f7f6f5
        &.cur
            border: 1px solid #eea
            background: #ffffdd
.ds_btn
    display: inline-block
    width: 54px
    line-height: 24px
    background: #f44
    color: #fff 
    text-align: center
    border-radius: 2px
    text-decoration: none
    &[color='green']
        background: #36bb47
    &[color='blue']
        background: #2c81d6
    
    .ds_form_row &
        margin-right: 5px
        &:last-child
            margin-right: 0


.ds_foot
    padding:10px
    font-size: 12px



